<aside>
  <header class="text-xl font-semibold text-center">
    <app-logo />
  </header>
  <ul>
    <li routerLinkActive="active">
      <span class="material-symbols-outlined">assignment</span>
      <a routerLink="/exam">Exam</a>
    </li>
    <li routerLinkActive="active">
      <span class="material-symbols-outlined">history</span>
      <a routerLink="/history">Attempted Test</a>
    </li>
    <li routerLinkActive="active">
      <span class="material-symbols-outlined">bookmark</span>
      <a routerLink="/leaderboard">Saved Question</a>
    </li>
    <li routerLinkActive="active">
      <span class="material-symbols-outlined">quiz</span>
      <a routerLink="/question">Practice</a>
    </li>
    <li routerLinkActive="active">
      <span class="material-symbols-outlined">warning</span>
      <a routerLink="/settings">Reported Question</a>
    </li>
    <li routerLinkActive="active">
      <span class="material-symbols-outlined">help</span>
      <a routerLink="/help">Help</a>
    </li>
  </ul>
</aside>
