<mat-card appearance="outlined">
  <mat-card-content>
    <div class="flex items-center flex-wrap gap-4">
      <div>
        <p class="text-lg font-semibold mb-2 uppercase">
          {{ test().title }}
        </p>
        <div class="flex gap-4 lg:gap-8">
          <div class="flex gap-2 items-center">
            <span class="material-symbols-outlined scale-75"> help </span>
            <p>{{ getTotalQuestionLength() }} Que</p>
          </div>
          <div class="flex gap-2 items-center">
            <span class="material-symbols-outlined scale-75">
              description
            </span>
            <p>{{ test().totalMarks }} Marks</p>
          </div>
          <div class="flex gap-2 items-center">
            <span class="material-symbols-outlined scale-75">timer</span>
            <p>{{ test().totalTime }} Mins</p>
          </div>
        </div>
      </div>
      <div class="ml-auto">
        <button (click)="startTest()" mat-flat-button>Start Test</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
