<div class="mb-4 border-2 rounded-3xl overflow-hidden">
  <div class="flex items-center flex-wrap gap-4 m-6 justify-between">
    <div>
      <p class="text-lg font-semibold mb-2 uppercase">
        {{ test().title }}
      </p>
      <div class="flex flex-wrap gap-4 lg:gap-8">
        <div class="flex gap-2 items-center">
          <span class="material-symbols-outlined scale-75"> help </span>
          <p>{{ test().totalQuestions }} Que</p>
        </div>
        <div class="flex gap-2 items-center">
          <span class="material-symbols-outlined scale-75"> description </span>
          <p>{{ test().totalMarks }} Marks</p>
        </div>
        <div class="flex gap-2 items-center">
          <span class="material-symbols-outlined scale-75">timer</span>
          <p>{{ test().totalTime }} Mins</p>
        </div>
      </div>
    </div>

    <div>
      @if (test().isPaused) {
      <button (click)="startTest()" mat-flat-button>Resume</button>
      } @else if (test().isAttempted) {
      <div class="flex gap-4">
        <button mat-stroked-button [routerLink]="['/test-solution', test().id]">
          Solution
        </button>
        <button [routerLink]="['/test-analysis', test().id]" mat-stroked-button>
          Analysis
        </button>
      </div>
      } @else {
      <button (click)="startTest()" mat-flat-button>Start</button>}
    </div>
  </div>

  @if (test().isAttempted) {
  <div class="flex justify-between items-center mt-4 px-4 py-1 bg-blue-50">
    <p>Attempted on {{ test().lastAttemptedAt | date : "MMM dd" }}</p>
    <p
      (click)="startTest()"
      mat-button
      class="flex items-center cursor-pointer text-blue-900"
    >
      Reattempt <mat-icon>east</mat-icon>
    </p>
  </div>
  }
</div>
